package components

templ Header() {
	<head>
		<script type="module" src="./main.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Wails App</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
}
