package components

templ Toolbar() {
	<div class="absolute flex justify-center items-center mb-2" id="toolbar">
		<button id="structure-btn" class="p-2 py-1 text-white rounded-md hover:bg-gray-100/10">Structure</button>
		<button id="data-btn" class="ml-1 p-2 py-1 text-white rounded-md hover:bg-gray-100/10">Data</button>
	</div>
}
