package components

templ Toolbar() {
	<div class=" absolute flex justify-center items-center w-screen" id="toolbar">
		<button id="structure-btn" class="p-2 text-white rounded-md hover:bg-gray-100/10">Structure</button>
		<button id="data-btn" class="m-1 p-2 text-white rounded-md hover:bg-gray-100/10">Data</button>
	</div>
}
