package views

import "sqlexplorer/views/components"

templ Index() {
	<html lang="en">
		@components.Header()
		<body class="dark:bg-[#222226]">
			@components.WindowControl()
			<div class="flex justify-center">
				@components.LoginForm()
			</div>
		</body>
	</html>
}
