package views

import "sqlexplorer/views/components"

templ Index() {
	<html lang="en">
		@components.Header()
		<body class="dark:bg-[#222226]">
			<div class="flex h-screen">
				<div class="h-full">
					@components.Sidebar()
				</div>
				<div class="flex flex-col flex-1 min-h-screen">
					@components.Toolbar()
					@components.Table()
				</div>
			</div>
		</body>
	</html>
}
